h1{
    font-weight: bold;
}

p{
    font-family: 'Times New Roman', Times, serif;
}

h3{
    font-style: italic;
}

h2{
    color: #555555;
}

.customback {
    background-color: blanchedalmond;
}

.imagecenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
}